---
import { BaseLink } from '@BaseComponents';

interface Link {
  label: string;
  href: string;
}

export interface Props {
  class?: string;
  variation?: string;
  links: Link[];
}

const { class: className, variation, links } = Astro.props;

const dynamicClasses = [className, variation ? `is-${variation}` : ''];
---

<ul class:list={[dynamicClasses]}>
  {
    links.map(({ href, label }) => (
      <li class="link">
        <BaseLink
          variation="composed"
          href={href}
        >
          {label}
        </BaseLink>
      </li>
    ))
  }
</ul>

<style>
  .is-desktop-links-container, 
  .is-mobile-links-container{
    @apply flex flex-col;
  }

  .link {
    @apply mt-8 text-center;
  }

  @media (min-width: 1024px) {
    .is-desktop-links-container {
      @apply flex-row gap-10;
    }

    .link {
      @apply mt-0;
    }
  }
</style>
