---
import { Image } from 'astro:assets';
import { Logo2 } from '@Assets';
import { BaseText, BaseTextTypes } from '@BaseComponents';
import { SectionsLayout } from '@Layouts';

const paragraphs = [
  {
    text: 'A Benedetti Elétrica está a 12 anos no mercado executando instalações elétricas, manutenção elétrica e manutenção em equipamentos de supermercado, o que inclui sistemas de refrigeração.',
  },
  {
    text: 'Fazemos instalações elétricas residenciais, comerciais e industriais.',
  },
  {
    text: 'Somos credenciados pelo CFT - Conselho Federal dos Técnicos Industriais, o que garante a você cliente mais segurança quanto a execução do serviço.',
  },
  {
    text: 'Atendemos as normas técnicas da ABNT-NBR-5410, bem como as normas regulamentadoras NR10 e NR35.',
  },
  {
    text: 'Nosso objetivo é atender bem você, seu comércio ou sua empresa!',
  },
];
---

<SectionsLayout
  class="team-section"
  id="empresa"
>
  <BaseText
    class="team-title"
    tag={BaseTextTypes.TAGS.H5}
  >
    Quem Somos
  </BaseText>

  <section class="is-blue team-content">
      <Image
      class="profile"
        alt="Foto da Benedetti Elétrica."
        src={Logo2}
        title="Benedetti Elétrica"
      />

    <div class="content">
      {
        paragraphs.map(({ text }) => (
          <BaseText
            class="team-paragraph"
            tag={BaseTextTypes.TAGS.P}
            variation="blue"
          >
            {text}
          </BaseText>
        ))
      }
    </div>
  </section>
</SectionsLayout>

<style>
  .team-section {
    @apply pb-0;
  }
  .team-title {
    @apply mb-4
    text-center;
  }

  .team-content {
    @apply flex
    flex-col
    items-center
    gap-12;
  }

  .profile {
    @apply w-full
    max-w-[250px];
  }

  .content {
    @apply max-w-[550px];
  }

  .team-paragraph {
    @apply mb-6 
    text-justify;
  }

  @media (min-width: 768px) {
    .team-paragraph {
      @apply text-left;
    }
  }

  @media (min-width: 992px) {
    .team-section {
      @apply pb-24;
    }
    .profile {
    @apply w-full
    max-w-[350px];
  }
    .team-content {
      @apply flex-row gap-20;
    }
  }
</style>
