---
import { Image } from 'astro:assets';
import { Whatsapp } from '@Assets';
import { BaseText, BaseTextTypes, BaseLink } from '@BaseComponents';
import { SectionsLayout } from '@Layouts';
---

<section class="family-background">
  <SectionsLayout class="family-section">
    <div class="content">
      <BaseText
        class="family-title"
        tag={BaseTextTypes.TAGS.H3}
      >
        Sua Família Merece Lembrar Só Dos Bons Momentos Em Casa
      </BaseText>

      <BaseText
        class="family-paragraph"
        tag={BaseTextTypes.TAGS.P}
      >
        As boas instalações elétricas em seu lar são fundamentais para garantir
        a segurança, conforto e qualidade de vida de sua família!
      </BaseText>

      <BaseLink
        class="reason-btn"
        href="https://wa.link/dmsi6d"
        variation="blue"
      >
        <Image
          alt="Whatsapp"
          class="w-7"
          src={Whatsapp}
          title=""
        />Saiba Mais
      </BaseLink>
    </div>
  </SectionsLayout>
</section>

<style>
  .family-background {
    @apply bg-[url('../../assets/images/family-section.webp')] bg-cover bg-center;
  }

  .family-section {
    @apply flex
    h-screen
    min-h-[700px]
    flex-col
    items-start
    justify-center;
  }

  .content {
    @apply max-w-[570px];
  }

  .family-title {
    @apply mb-12 text-4xl;
  }

  .family-paragraph {
    @apply mb-12
    max-w-[490px];
  }

  .family-btn {
    @apply min-w-[195px];
  }
</style>
