---
import { Image } from '@astrojs/image/components';
import { Whatsapp, HeroBG } from '@Assets';
import { BaseLink, BaseText, BaseTextTypes } from '@BaseComponents';
import { SectionsLayout } from '@Layouts';
---

<SectionsLayout
  class="section-hero"
  id="inicio"
>
  <div
    class="hero-container"
    itemscope
    itemtype="http://schema.org/LocalBusiness"
  >
    <BaseText
      itemprop="name"
      tag={BaseTextTypes.TAGS.H1}
    >
      Refrigeração e Climatização de qualidade é com a gente!
    </BaseText>
    <div class="hero-p">
      <BaseText
        itemprop="description"
        tag={BaseTextTypes.TAGS.P}
      >
        Atendimento profisisonal especializado em Refrigeração e Climatização,
        soluções inteligentes para sua empresa e o conforto da sua família.
      </BaseText>
    </div>

    <div class="hero-btn-container">
      <BaseLink
        href="https://wa.link/dmsi6d"
        itemprop="url"
        target="_blank"
        variation="blue"
      >
        <Image
          alt="Ícone do Whatsapp"
          class="whatsapp"
          itemprop="image"
          src={Whatsapp}
        />Entre em contato
      </BaseLink>

      <BaseLink
        class="hero-white-button"
        href="#clientes"
        itemprop="url"
        variation="white"
      >
        Saiba Mais
      </BaseLink>
    </div>
  </div>

  <div
    class="empty-space"
    aria-hidden="true"
  >
  </div>

  <div class="hero-bg-container">
    <Image
      src={HeroBG}
      class="hero-bg"
      alt="Imagem de um homen de costas com ferramentas de reparo para items de refrigeração."
      title=""
      itemprop="image"
    />
  </div>
</SectionsLayout>

<style>
  .section-hero {
    @apply flex 
    h-screen 
    min-h-[700px]
    items-center 
    justify-center;
  }

  .hero-container {
    @apply z-10 
    flex 
    h-screen
    min-h-[700px] 
    max-w-4xl
    flex-col
    items-center
    justify-center 
    gap-8
    p-6
    text-center;
  }

  .hero-btn-container {
    @apply flex flex-wrap justify-center gap-8;
  }

  .hero-p {
    @apply max-w-xl;
  }

  .hero-p > p {
    @apply text-xl;
  }

  .hero-white-button {
    @apply min-w-[195px];
  }

  .empty-space {
    @apply hidden p-48;
  }

  .hero-bg {
    @apply absolute left-0 top-0 z-0 h-screen w-screen overflow-hidden object-cover;
  }

  .whatsapp {
    @apply w-7;
  }

  @media (min-width: 600px) {
    .hero-container {
      @apply gap-16;
    }
  }

  @media (min-width: 1024px) {
    .hero-container {
      @apply items-start text-left;
    }

    .empty-space {
      @apply flex;
    }
  }
</style>
