---
import { SocialInstagram, SocialEmail, SocialWhatsapp } from '@Assets';
---

<div class="social-container">
  <a
    class="link"
    href="https://www.instagram.com/renanrefrigeracaooficial/"
    rel="noopener"
    target="_blank"
  >
    <img
      alt="Ícone do Instagram"
      class="icon"
      src={SocialInstagram}
      title="Instagram"
    />
  </a>

  <a
    class="link"
    href="https://wa.me/message/CVQIECXMWBIPN1"
    rel="noopener"
    target="_blank"
  >
    <img
      alt="Ícone do Whatsapp"
      class="icon"
      src={SocialWhatsapp}
      title="WhatsApp"
    />
  </a>

  <a
    class="link"
    href="mailto:contato@renanrefrigeracao.com.br"
    rel="noopener"
    target="_blank"
  >
    <img
      alt="Ícone do Email"
      class="icon"
      src={SocialEmail}
      title="Email"
    />
  </a>
</div>

<style>
  .social-container {
    @apply flex
    min-w-fit
    flex-wrap
    gap-[20px];
  }

  .link {
    @apply w-16;
  }

  .icon {
    @apply max-w-[50px];
  }
</style>
