---
import { Image } from '@astrojs/image/components';
import { LogoWhite } from '@Assets';
import { BaseText, BaseTextTypes } from '@BaseComponents';
import { ComposedLinks } from '@ComposedComponents';
import { SectionsLayout } from '@Layouts';
import { ComposedSocial } from './components';

const footerItems = [
  {
    label: 'Início',
    href: '#inicio',
  },
  {
    label: 'Quem atendemos',
    href: '#clientes',
  },
  {
    label: 'Nossos Serviços',
    href: '#servicos',
  },
  {
    label: 'Nosso Especialista',
    href: '#empresa',
  },
  {
    label: 'Contato',
    href: '#contato',
  },
];
---

<footer>
  <section class="footer">
    <SectionsLayout class="footer-content">
      <div class="logo-section">
        <Image
          alt="Logo da Empresa Renan Refrigeração"
          class="logo"
          title="Renan Refrigeração"
          src={LogoWhite}
        />
      </div>

      <ComposedLinks
        class="menu-item"
        variation="mobile-links-container"
        links={footerItems}
      />

      <ComposedSocial />
    </SectionsLayout>
  </section>

  <section class="copy">
    <BaseText
      class="copy-text text-center"
      tag={BaseTextTypes.TAGS.P}
    >
      &copy; Todos os direitos reservados. Renan Refrigeração 2023. Desenvolvido
      por <a
        href="https://guilherme.battoni.dev/"
        rel="noopener"
        target="_blank"
        class="battoni"
        >Battoni Dev</a
      >.
    </BaseText>
  </section>
</footer>

<style>
  .footer {
    @apply flex
  min-h-[430px]
  w-screen
  items-center
  bg-navyBlue;
  }

  .footer-content {
    @apply flex
  flex-col
  items-center
  gap-10;
  }

  .logo {
    @apply w-[270px];
  }

  .menu-item {
    @apply mb-10 items-center gap-4 text-white;
  }

  .battoni {
    @apply text-[#C0E022];
  }

  .copy {
    @apply flex
  h-[100px]
  items-center
  justify-center
  bg-darkGreen
  px-5;
  }

  .copy-text {
    @apply text-neutral;
  }

  @media (min-width: 992px) {
    .footer-content {
      @apply flex-row
    items-center
    justify-between;
    }

    .menu-item {
      @apply mb-0 
      items-start 
      gap-8;
    }

    .copy {
      @apply h-[70px];
    }
  }

  @media (min-width: 1216px) {
    .logo {
      @apply w-[340px];
    }
  }
</style>
