---
import { LogoWhite } from '@Assets';
import { BaseText, BaseTextTypes } from '@BaseComponents';
import { SectionsLayout } from '@Layouts';
import { ComposedSocial } from './components';

const menuItems = [
  {
    text: 'Início',
    url: '#inicio',
  },
  {
    text: 'Quem atendemos',
    url: '#clientes',
  },
  {
    text: 'Nossos Serviços',
    url: '#servicos',
  },
  {
    text: 'Nosso Especialista',
    url: '#empresa',
  },
  {
    text: 'Contato',
    url: '#contato',
  },
];
---

<footer>
  <section class="footer">
    <SectionsLayout class="footer-content">
      <div class="logo-section">
        <img
          alt="Logo da Empresa Renan Refrigeração"
          class="logo"
          src={LogoWhite}
          title="Renan Refrigeração"
        />
      </div>

      <div class="menu-section">
        <ul class="menu-items">
          {
            menuItems.map(({ text, url }) => (
              <li class="menu-item">
                <a
                  class="text"
                  href={url}
                >
                  {text}
                </a>
              </li>
            ))
          }
        </ul>
      </div>

      <ComposedSocial />
    </SectionsLayout>
  </section>

  <section class="copy">
    <BaseText
      class="copy-text text-center"
      tag={BaseTextTypes.TAGS.P}
    >
      &copy; Todos os direitos reservados. Renan Refrigeração 2023. Desenvolvido
      por <a
        href="https://guilherme.battoni.dev/"
        rel="noopener"
        target="_blank"
        class="battoni"
        >Battoni Dev</a
      >.
    </BaseText>
  </section>
</footer>

<style>
  .footer {
    @apply flex
  min-h-[430px]
  w-screen
  items-center
  bg-navyBlue;
  }

  .footer-content {
    @apply flex
  flex-col
  items-center
  gap-10;
  }

  .logo {
    @apply w-[270px];
  }

  .menu-items {
    @apply text-center
  text-neutral;
  }

  .menu-item {
    @apply mb-4 pt-4;
  }

  .battoni {
    @apply text-[#C0E022];
  }

  .copy {
    @apply flex
  h-[100px]
  items-center
  justify-center
  bg-darkGreen
  px-5;
  }

  .copy-text {
    @apply text-neutral;
  }

  @media (min-width: 992px) {
    .footer-content {
      @apply flex-row
    items-center
    justify-between;
    }

    .menu-items {
      column-count: 2;
      @apply gap-16 
    text-left;
    }

    .copy {
      @apply h-[70px];
    }
  }

  @media (min-width: 1216px) {
    .logo {
      @apply w-[340px];
    }
  }
</style>
